body {  padding: 20px 30px;  }

h2 {  margin-bottom: 0; }
h3 {  color: blue;  }
p  {  font-size: 18px;  margin: 0;  }
#message {  color: red;  }
section {  margin-top: 30px;  }
span {  font-size: 18px;  }

input {
  font-size: 16px;
  padding: 5px 8px;
  margin-bottom: 5px;
}

.btns {
  border-radius: 8px;
  font-size: 18px;
  padding: 4px 13px;
  background: lemonchiffon;
  margin: 5px 10px 20px 0;
}

.btns:focus {
  background: lightcoral;
  outline: none;
}
.inplay { color: blue; }
.stayout { color: red; margin: 0 24px 0 40px; }
#main-btns {  margin-bottom: -20px;  }
#add-new, #remove-player {
  display: none;
}

.bet-amt {
  width: 100px;
}

th, td {
  border: 1px solid black;
  margin-right: 10px;
  font-size: 18px;
  padding: 5px 20px;
}

table a {
  color: red
}

.icard {
  height: 175px;
  width: 120px;
  padding: 5px;
  border: 1px solid black;
  background: white;
  border-radius: 10px;
  display: inline-block;
  font-family: 'Lato';
}

.card-back {
  background: lightslategrey;
  padding: 2px;
}

.top-card {
  font-size: 30px;
  line-height: 25px;
  left: 2px;
  top: 2px;
}

.content-card {
  text-align: center;
  font-size: 70px;
}

.bottom-card {
  font-size: 30px;
  line-height: 25px;
  margin-top: -8px;
  right: 2px;
  bottom: 2px;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
}

.hearts, .diams {  color: red;  }
.hearts .suit::after {  content: '\2665'  }
.spades .suit::after {  content: '\2660'  }
.clubs .suit::after {  content: '\2663'  }
.diams .suit::after {  content: '\2666'  }

.player-msg { color: red; margin-bottom: -10px;}
.option { margin-top: 10px; }

/* Media Queries */
@media(max-width: 600px){
  body {  padding: 5px 20px;  }

  h2, h3 { margin-top: 0; }
  input { border: 1px solid black; border-radius: 5px; }
  .icard {
    height: 90px;
    width: 60px;
    padding: 3px;
    border-radius: 8px;
  }

  .card-back {
    background: lightslategrey;
    padding: 2px;
  }

  .top-card {
    font-size: 16px;
    line-height: 12px;
    left: 2px;
    top: 2px;
  }

  .content-card {
    text-align: center;
    font-size: 40px;
  }

  .bottom-card {
    font-size: 16px;
    line-height: 12px;
    right: 2px;
    bottom: 2px;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
  }

  .btns {
    border-radius: 5px;
    font-size: 16px;
    padding: 4px 13px;
    background: lemonchiffon;
    margin: 5px 10px 20px 0;
  }  
  .stayout { color: red; margin: 0 30px 0 50px; }
  .player-msg { margin-bottom: -10px; font-size: 14px; }
}